## Series

In [4]:
import pandas as pd

x = [3,4,5,6,7,8]

var = pd.Series(x)

print(var)
print(type(var))

print(var[5])

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>
8

In [7]:
### Change Index values, datatype, name for the list

y = [2,3,4,5]
var = pd.Series(y,index=["a","b","c","d"],dtype="float",name="python")
print(var)

a    2.0
b    3.0
c    4.0
d    5.0
dtype: float64

In [9]:
dic = {
    "name":['C++','Java','Python','C#'],
    "por":[20,40,30,10],
    "rank":[3,1,2,4]
}
var = pd.Series(dic)
print(var)

name    [C++, Java, Python, C#]
por            [20, 40, 30, 10]
rank               [3, 1, 2, 4]
dtype: object

In [10]:
s = pd.Series(12,index=[1,2,3,4,5,6,7])

print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
### Addition works with NaN
s1 = pd.Series(12,index=[1,2,3,4,5,6])
s2 = pd.Series(12,index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64